[submodule "ext/haskell-flake"]
	path = ext/haskell-flake
	url = https://github.com/srid/haskell-flake.git
[submodule "ext/nixos-flake"]
	path = ext/nixos-flake
	url = https://github.com/srid/nixos-flake.git
[submodule "ext/services-flake"]
	path = ext/services-flake
	url = https://github.com/juspay/services-flake
[submodule "ext/process-compose-flake"]
	path = ext/process-compose-flake
	url = https://github.com/Platonic-Systems/process-compose-flake.git
[submodule "ext/nix-browser"]
	path = ext/nix-browser
	url = https://github.com/juspay/nix-browser
